<div th:fragment="footer">

	
		<footer class="row justify-content-between mt-3">
			<div class="col">
				<p class="text-left ">
					<b>Michel Lopez</b></br>Développements d'applications web</br>Développement de systèmes d'acquisition</br>Hardward, Electronique embarquée</br>Contrôle de conformité, métrologie</br>
				</p>
			</div>

			<div class="col">
				<p class="text-right">
					<b>Contact</b></br> Tél: 01 48 91 01 02</br>email: michel@cdvi.com</br>
				</p>

			</div>
		</footer>
	
</div>