<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
	<title>Plannings</title>
</head>

<body>
	<div class="container">

		<!-- Entete -->
		<span th:if="${authentification}">
			<div th:replace="fragments/entete_post :: entete_post"></div>
		</span> <span th:unless="${authentification}">
			<div th:replace="fragments/entete_init :: entete_init"></div>
		</span>

		<!-- ********************************************* -->

		<!-- IMAGE -->

		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau3.png" alt="" th:src="@{/images/bandeau3.png}" />
			aaaaaa
			</div>
		</div>

		
		
		

		<!-- ********************************************* -->

		<div class="container">

			<form
				th:action="@{/projet/ajouter/phase/associer/{projet}/{ressource}(projet=${projet.id}, ressource=${ressource.id})}"
				method="post" th:object="${phase}">

				<div class="col">
					<b>Pour créer une phase, remplir ce formulaire.</b>
					<h3 th:text="${'Projet: ' + projet.nom + ' ; ressource: ' + ressource.nom + ' ' + ressource.nom}"
						style="color: red;"></h3>
					<h1>Phase</h1>
					<!--
					<div class="row mr-1">
						<label for="text">Numéro</label> <input type="number" class="form-control" th:field="*{numero}">
					</div>
					
					-->

					<div class="row mr-1">
						<label for="text">Nom</label> <input type="text" class="form-control" th:field="*{nom}">
					</div>

					<div class="row  mr-1 mb-3">
						<label for="text">Début</label> <input type="date" class="form-control"
							th:field="*{dateDebutString}" th:value="*{dateDebutString}">
					</div>

					<div class="row  mr-1 mb-3">
						<label for="text">Fin</label> <input type="date" class="form-control"
							th:field="*{dateFinString}" th:value="*{dateFinString}">
					</div>

					<div class="row  mr-1">
						<label for="text">description</label> <input type="text" class="form-control"
							th:field="*{description}">
					</div>

					<div class="row  mr-1">
						<label for="text">Complément</label> <input type="text" class="form-control"
							th:field="*{complement}">
					</div>

					<div class="row  mr-1">
						<label for="text">Résultat</label> <input type="text" class="form-control"
							th:field="*{resultat}">
					</div>

					<div class="bouton row">

						<div class="col">
							<div class="d-flex justify-content-end">
								<a class="btn mb-1 mr-1 bouton2" style="background-color: #7e60fb; color: white;"
									href="/espace" role="button">Annuler</a> <input type="submit"
									class="btn mb-1 bouton2" style="background-color: #7e60fb; color: white;"
									value="Enregistrer">
							</div>
						</div>
					</div>
			</form>

			<!-- PIED DE PAGE -->

			<div th:replace="fragments/footer :: footer"></div>

			<!-- ********************************************* -->
		</div>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>