<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
	<title>Plannings</title>
</head>

<body>
	<div class="container">

		<!-- ENTETE -->


		<div th:replace="fragments/entete_post :: entete_post"></div>
		<!-- ---------------- -->


		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau17.jpg" alt="" th:src="@{/images/bandeau17.jpg}" />
			</div>
		</div>
		<!-- ----------------- -->
		<div class="row d-flex justify-content-center">

			<h1>Espace personnel</h1>
		</div>


		<div class="row">
			<div class="donnees col-lg-6" style="margin: 5px;">

				<div class="row d-flex justify-content-center">
					<h3>
						<strong>Vos données</strong></br>
					</h3>
				</div>


				<div class="row d-flex justify-content-center">
					<p th:text="'Nom: ' + ${utilisateur.nom}"></p>
				</div>

				<div class="row d-flex justify-content-center">
					<p th:text="'Prénom: ' + ${utilisateur.prenom}"></p>
				</div>


				<div class="row d-flex justify-content-center">
					<p th:text="'email: ' + ${utilisateur.username}"></p>
				</div>


				<div class="row d-flex justify-content-center">
					<a href="/compte/modifier"><button type="button" class="btn mb-1 bouton2"
							style="background-color: #7e60fb; color: white;">Modifier</button></a>
				</div>

				<div class="row d-flex justify-content-center">
					<a class="btn mb-1 bouton2" style="background-color: #7e60fb; color: white;"
						th:href="@{/logout}">Déconnexion</a>
				</div>

			</div>
			<div class="col donnees" style="margin: 5px;">

				<div class="row d-flex justify-content-center">
					<h3>
						<strong>Fonctionnalités</strong></br>
					</h3>
				</div>

				<div class="row d-flex justify-content-center">
					<a th:href="@{/projets/access}"><button type="button" class="btn mb-1 bouton2"
							style="background-color: #7e60fb; color: white;">Projets</button></a>
				</div>

				<div class="row d-flex justify-content-center">
					<a th:href="@{/ressources/access}"><button type="button" class="btn mb-1 bouton2"
							style="background-color: #7e60fb; color: white;">Ressources</button></a>
				</div>


				<div class="row d-flex justify-content-center">
					<a th:href="@{/fiches/access}"><button class="btn mb-1 bouton2"
							style="background-color: #7e60fb; color: white;">Fiches</button></a>
				</div>
				
				
				<div class="row d-flex justify-content-center">
					<a th:href="@{/agenda/access}"><button class="btn mb-1 bouton2"
							style="background-color: #7e60fb; color: white;">Agenda</button></a>
				</div>

				<div class="row d-flex justify-content-center">
					<a th:href="@{/alertes/liste/actives/{active}(active=${true})}"><button type="button"
							class="btn mb-1 bouton2" style="background-color: #e37d0a; color: white;">Alertes
							actives</button></a>
				</div>

				<div class="row d-flex justify-content-center">
					<a th:href="@{/alertes/liste/actives/{active}(active=${false})}"><button type="button"
							class="btn mb-1 bouton2" style="background-color: #e37d0a; color: white;">Alertes
							inactives</button></a>
				</div>

			</div>


		</div>

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->


	</div>
	<!-- fin conteneur -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>