<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
	<title>Plannings</title>
</head>

<body>
	<div class="container">

		<!-- ENTETE -->

		<div th:replace="fragments/entete_post :: entete_post"></div>
		<!-- ---------------- -->

		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau7.png" alt="" th:src="@{/images/bandeau7.png}" />

			</div>
		</div>
		<!-- ----------------- -->
		<div class="row d-flex justify-content-center">

			<h1 th:text="${'Liste des fiches pour le projet ' + projet.nom}">Liste des phases
			</h1>

		</div>
		<span th:if=${vide}>
			<div class="row d-flex justify-content-center">
				<h1 th:text="${'Le projet ' + projet.nom + ' ne comporte pas de fiches'}" style="color: red;"></h1>
			</div>
		</span>

		<span th:unless=${vide}>

			<!--  début de row -->
			<div class="row d-flex justify-content-center" th:each="phase, iStat: ${phases}">

				<!--  début table présentation phase -->
				<div class="col donnees" style="margin: 5px; color: red">

					<table class="table table-striped">
						<thead>
							<tr>

								<th scope="col">Numéro phase</th>
								<th scope="col">Nom</th>
								<th scope="col">Ressource</th>
								<th scope="col">Active</th>
								<th scope="col">Suspendue</th>
								<th scope="col">Conformité</th>
								<th scope="col">Voir</th>
								<span th:if=${groupe1}>
									<th scope="col">Fiches</th>
								</span>
							</tr>
						</thead>
						<tbody>

							<td th:text="${phase.numero}" />
							<td th:text="${phase.nom}" />
							<td th:text="${phase.nomRessource}" />
							<td th:text="${phase.actifString}" />
							<td th:text="${phase.suspenduString}" />
							<td th:text="${phase.conformeString}" />

							<td><a th:href="@{/phase/voir/{id}(id=${phase.id})}">
									<p type="text" class="btn btn-block"
										style="background-color: #7e60fb; color: white">Voir</p>
								</a>
							</td>

							<span th:if=${groupe1}>
								<td><a th:href="@{/phase/fiches/ajouter/{id}(id=${phase.id})}">
										<p type="text" class="btn btn-block"
											style="background-color: #7e60fb; color: white">Ajouter</p>
									</a>
								</td>
							</span>

						</tbody>
					</table>
				</div>

				<!--  fin table présentation phase -->


				<!--  début table présentation des fiches -->

				<span th:unless=${phase.fiches.isEmpty()}>
					<div class="col donnees" style="margin: 5px;">

						<table class="table table-striped">
							<thead>
								<tr>

									<th scope="col">Numéro fiche</th>
									<th scope="col">Projet</th>
									<th scope="col">Auteur</th>
									<th scope="col">Anomalie</th>
									<th scope="col">Incidence</th>
									<th scope="col">Statut</th>

									<th scope="col">Voir</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="fiche, iStat: ${phase.fiches}">

									<td th:text="${fiche.numero}" />
									<td th:text="${fiche.projet}" />
									<td th:text="${fiche.nomAuteur}" />
									<td th:text="${fiche.anomalie}" />
									<td th:text="${fiche.incidence}" />
									<td th:text="${fiche.statutString}" />

									<td><a th:href="@{/fiche/voir/{id}(id=${fiche.id})}">
											<p type="text" class="btn btn-block"
												style="background-color: #7e60fb; color: white">Voir</p>
										</a>
									</td>
								</tr>

							</tbody>
						</table>


					</div>
				</span>

				<span th:if=${phase.fiches.isEmpty()}>
					<div class="row d-flex justify-content-center">
						<h3 th:text="${'Cette phase ne comporte pas de fiches'}" style="color: red;">
							</h1>
					</div>

				</span>
				<!--  fin table présentation des fiches -->
			</div>

			<!--  fin de row -->

		</span>

		<div class="row mt-3">
			<div class="col d-flex justify-content-end">
				
				<!--
				<span th:if=${prive}>
					<div class="form-group mr-3">
						<a th:href="@{/projet/voir/fiches/spontanees/prive/{projet}(projet=${projet.id})}">
							<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white;">Voir
								fiches spontannées</p>
						</a>
					</div>
				</span>
			
				<span th:unless=${prive}>
					-->
					<div class="form-group mr-3">
						<a th:href="@{/projet/voir/fiches/spontanees/{projet}(projet=${projet.id})}">
							<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white;">Voir
								fiches spontannées</p>
						</a>
					</div>
					<!--
				</span>
					-->
				<div class="form-group ">
					<a href="/espace">
						<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white;">Retour</p>
					</a>
				</div>
			</div>

		</div>

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->

	</div>
	<!-- fin conteneur -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>