<html>

<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages': ['gantt']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('string', 'Resource');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', 'Duration');
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');

			data.addRows([
				['2014Spring', 'Spring 2014', 'spring',
					new Date(2015, 2, 22, 10, 30), new Date(2015, 2, 22, 14, 30), null, 100, null],
				['2014Summer', 'Summer 2014', 'summer',
					new Date(2015, 2, 23, 09, 00), new Date(2015, 2, 23, 12, 30), null, 100, null],
				['2014Autumn', 'Autumn 2014', 'autumn',
					new Date(2015, 2, 24, 10, 30), new Date(2015, 2, 24, 17, 30), null, 100, null],
				['2014Winter', 'Winter 2014', 'winter',
					new Date(2015, 2, 25, 10, 10), new Date(2015, 2, 25, 13, 45), null, 100, null],
				['2015Spring', 'Spring 2015', 'spring',
					new Date(2015, 2, 26, 11, 20), new Date(2015, 2, 26, 14, 30), null, 50, null],
				['2015Summer', 'Summer 2015', 'summer',
					new Date(2015, 2, 27, 13, 30), new Date(2015, 2, 27, 15, 45), null, 0, null],
				['2015Autumn', 'Autumn 2015', 'autumn',
					new Date(2015, 2, 28, 08, 30), new Date(2015, 2, 28, 14, 15), null, 0, null],
				['2015Winter', 'Winter 2015', 'winter',
					new Date(2015, 3, 1, 09, 20), new Date(2015, 3, 1, 10, 30), null, 0, null],
				['Football', 'Football Season', 'sports',
					new Date(2015, 3, 2, 11, 10), new Date(2015, 3, 2, 16, 30), null, 100, null],
				['Baseball', 'Baseball Season', 'sports',
					new Date(2015, 3, 3, 11, 20), new Date(2015, 3, 3, 14, 30), null, 14, null],
				['Basketball', 'Basketball Season', 'sports',
					new Date(2015, 3, 4, 12, 30), new Date(2015, 3, 4, 18, 30), null, 86, null],
				['Hockey', 'Hockey Season', 'sports',
					new Date(2015, 3, 5, 11, 20), new Date(2015, 3, 5, 19, 40), null, 89, null]
			]);

			var options = {
				height: 400,
				gantt: {
					trackHeight: 30
				}
			};

			var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

			chart.draw(data, options);
		}
	</script>
</head>

<body>
	<div id="chart_div"></div>
</body>

</html>