<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/styles.css">

	<title>Plannings</title>
	<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
</head>

<body>
	<div class="container">


		<!-- Entete -->
		<span th:if="${authentification}">
			<div th:replace="fragments/entete_post :: entete_post"></div>
		</span> <span th:unless="${authentification}">
			<div th:replace="fragments/entete_init :: entete_init"></div>
		</span>
		<!-- ---------------- -->

		<!--
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau7.png" th:src="@{/images/bandeau7.png}" />
			</div>
		</div>
		-->
		<script th:inline="javascript">

			var nom = /*[[${projet.nom}]]*/ null;
			var tableau = /*[[${tab}]]*/ null;
			var liste = /*[[${liste}]]*/ null;



			const lignes = [];

			for (i = 0; i < tableau.length; i++) {

				l = new Array(tableau[i].taskId, tableau[i].taskName, tableau[i].ressource,
					new Date(tableau[i].startDate), new Date(tableau[i].endDate), tableau[i].duration, tableau[i].percent, tableau[i].dependencies);
				lignes.push(l);
			}


			function HTMLtoPdf() {

				console.log("impression")

				var doc = new jsPDF();
				doc.text('Hello world', 10, 10)
				doc.save('testDoc.pdf')

			}

		</script>

		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			google.charts.load('current', {'packages': ['gantt']});
			google.charts.setOnLoadCallback(drawChart);
			var hauteur = lignes.length * 30 + 40;
			if (hauteur < 310) {
				hauteur = 310
			}
			function drawChart() {

				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Task ID');
				data.addColumn('string', 'Task Name');
				data.addColumn('string', 'Resource');
				data.addColumn('date', 'Start Date');
				data.addColumn('date', 'End Date');
				data.addColumn('number', 'Duration');
				data.addColumn('number', 'Percent Complete');
				data.addColumn('string', 'Dependencies');

				data.addRows(lignes);

				var options = {
					height: hauteur,
					gantt: {
						trackHeight: 30
					}
				};

				var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

				chart.draw(data, options);
			}
		</script>

		<div class="row">

			<h2>Diagramme de Gantt</h2>

		</div>

		<div id="chart_div"></div>
		<div class="row">

			<h2>Présentation de la Phase à lier</h2>

		</div>



		<div class="col">

			<table class="table table-striped">
				<thead>

				</thead>
				<tbody>
					<tr>
						<th scope="row">Numéro</th>
						<td th:text="${phase.numero}" />

					</tr>

					<tr>
						<th scope="row">Projet</th>
						<td th:text="${projet.nom}" />

					</tr>


					<tr>
						<th scope="row">Date de début</th>
						<td th:text="${#temporals.format(phase.debut, 'dd-MM-yyyy')}">

					</tr>
					
					
					<tr>
						<th scope="row">Date de fin</th>
						<td th:text="${#temporals.format(phase.fin, 'dd-MM-yyyy')}" />

					</tr>


					<tr>
						<th scope="row">Ressource</th>
						<td th:text="${ressource.prenom + ' ' + ressource.nom}" />

					</tr>
								
					<tr>
						<th scope="row">Nom</th>
						<td th:text="${phase.nom}" />

					</tr>
						
					<tr>
						<th scope="row">Active</th>
						<td th:text="${phase.actifString}" />

					</tr>

				</tbody>
			</table>
			

		</div>
		
		
		
		<div class="col d-flex justify-content-end">
		
			<div class="row">
				<div class="form-group mr-3">
						<a th:href="@{/projet/voir/phases/{projet}(projet=${projet.id})}">
							<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white">Phases</p>
						</a>
				</div>
				<div class="form-group mr-3">
						<a th:href="@{/phase/liaison/modifier/{phase}(phase=${phase.id})}">
							<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white">modifier</p>
						</a>
				</div>
				
				<div class="form-group ">
							<a th:href="@{/projet/voir/{idProjet}(idProjet=${projet.id})}">
								<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white">Retour projet</p>
							</a>
				</div>
						
						
			</div>
		</div>
		
		<div class="row d-flex text-align-left">
		
			<h2 th:text="${'Dépendance: liste des phases pour le projet ' + projet.nom}">Liste des phases</h2>

		</div>
		
		
		<div class="row">

				<div class="col donnees" style="margin: 5px;">

					<table class="table table-striped">
						<thead>
							<tr>

								<th scope="col">Numéro</th>
								<th scope="col">Nom</th>
								<th scope="col">Ressource</th>
								<th scope="col">Date de début</th>
								<th scope="col">Date de fin</th>
								<th scope="col">Modifier</th>
								<th scope="col">Liaison</th>
							
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="p, iStat: ${phases}">

								<td th:text="${p.numero}" />
								<td th:text="${p.nom}" />
								<td th:text="${p.nomRessource}" />
							     
							
								<td th:text="${#temporals.format(p.debut, 'dd-MM-yyyy')}" />
								<span th:unless=${p.conflit}>
								<td  style="color: green; font-weight: bold;" th:text="${#temporals.format(p.fin, 'dd-MM-yyyy')}" />
								</span>
						
								<span th:if=${p.conflit} >
								<td style="color: red; font-weight: bold;" th:text="${#temporals.format(p.fin, 'dd-MM-yyyy')}" />
								</span>


								<span th:if=${groupe2}>
								
									<span th:unless="${p.antecedent}">
										<td><a
												th:href="@{/phase/liste/dependances/modifier/{phase}/{dependance}/{conflit}(phase=${phase.id}, dependance=${p.id},conflit=${p.conflit})}">
												<p type="text" class="btn btn-block"
													style="background-color:#7e60fb ; color: white">Modifier</p>
											</a>
										</td>
									</span>
									
										<span th:if="${p.antecedent}">
										
											<td>
													<p type="text" class="btn btn-block"
														style="background-color: gray; color: white">Invalide</p>
												
											</td>
									
									</span>
									
									<span th:unless="${p.antecedent}">
										<span th:if="${p.liaison}">
											<td><a
													th:href="@{/phase/liaison/selection/{phase}/{dependance}/{statut}/{conflit}(phase=${phase.id},dependance=${p.id},statut=${p.liaison}, conflit=${p.conflit})}">
													<p type="text" class="btn btn-block"
														style="background-color: #730800; color: white">Retirer</p>
												</a>
											</td>
										</span>
									</span>

									<span th:unless="${p.antecedent}">
										<span th:unless="${p.liaison}">
											<td><a
													th:href="@{/phase/liaison/selection/{phase}/{dependance}/{statut}/{conflit}(phase=${phase.id},dependance=${p.id}, statut=${p.liaison}, conflit=${p.conflit})}">
													<p type="text" class="btn btn-block"
														style="background-color: #7e60fb; color: white">Ajouter</p>
												</a>
											</td>
										</span>
									</span>
									
									<span th:if="${p.antecedent}">
										
											<td>
													<p type="text" class="btn btn-block"
														style="background-color: gray; color: white">Invalide</p>
												
											</td>
									
									</span>
									
									
								</span>

							
								
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			
	
			
			<div class="col d-flex justify-content-end">
					<div class="row mt-3">
						<span th:if=${groupe2}>
							<div class="form-group mr-3">
								<a th:href="@{/projet/gantt/{id}(id=${projet.id})}">
									<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white">Gantt
									</p>
								</a>
								
								
							</div>
							
						</span>
						
						<div class="form-group mr-3">
								<a th:href="@{/projet/voir/phases/{projet}(projet=${projet.id})}">
									<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white">Phases
									</p>
								</a>
							</div>
	
						<div class="form-group ">
							<a th:href="@{/projet/voir/{idProjet}(idProjet=${projet.id})}">
								<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white">Retour projet</p>
							</a>
						</div>
				</div>

			</div>

	
		<!-- footer -->

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->

		<!-- footer -->
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>