<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css">
<title>Planning</title>
</head>
<body>
	<div class="container">

		<!-- Entete -->
		<span th:if="${authentification}">
			<div th:replace="fragments/entete_post :: entete_post"></div>
		</span> <span th:unless="${authentification}">
			<div th:replace="fragments/entete_init :: entete_init"></div>
		</span>

		<!-- ********************************************* -->

		<!-- IMAGE -->

		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau3.png" alt=""
					th:src="@{/images/bandeau3.png}" />
			</div>
		</div>

		<!-- ********************************************* -->
		<div class="message row">

			<p>
				<b>Pour créer une fiche d'anomalie technique, remplir ce
					formulaire.</b>
			</p>

		</div>
		<!-- ***********   Alerte erreur  ************ -->

		<span th:if="${erreur}">
			<div class="message row">

				<p>
					<b style="color: red;">Les sites, secteurs, voies longueurs
						doivent avoir un nom unique! Enregistrement impossible!</b>
				</p>

			</div>
		</span>
		<!-- ********************************************* -->

		<div class="container">
			<form
				th:action="@{/fiche/modifier/{id}(id=${fiche.id})}"
				method="post" th:object="${fiche}">


				<div class="col">
					<h1>Fiche d'anomalie technique</h1>

				<!--
					<div class="row  mr-1">
						<label for="text">Numéro</label> <input type="text"
							class="form-control" th:field="*{numero}">
					</div>

				-->
					<div class="row mr-1">
						<label for="text">Date</label> <input type="date"
							class="form-control" th:field="*{dateString}">
					</div>


					<div class="row  mr-1">
						<label for="text">Service</label> <input type="text"
							class="form-control" th:field="*{service}" th:value="*{service}">
					</div>
					
					
					<div class="row  mr-1">
						<label for="text">Produit</label> <input type="text"
							class="form-control" th:field="*{produit}" th:value="*{produit}">
					</div>
					
					<div class="row  mr-1">
						<label for="text">Projet</label> <input type="text"
							class="form-control" th:field="*{projet}" th:value="*{projet}">
					</div>

					<div class="row  mr-1">
						<label for="text">Code</label> <input type="text"
							class="form-control" th:field="*{code}" th:value="*{code}">
					</div>

					<div class="row  mr-1">
						<label for="text">Circonstances de l'observation</label> <input
							type="text" class="form-control" th:field="*{circonstance}"
							th:value="*{circonstance}">
					</div>

					<div class="row  mr-1">
						<label for="text">Description de l'anomalie</label> <input
							type="text" class="form-control" th:field="*{observation}"
							th:value="*{observation}">
					</div>

					<div class="row  mr-1">
						<label for="text">Conséquences de l'anomalie</label> <input
							type="text" class="form-control" th:field="*{incidence}"
							th:value="*{incidence}">
					</div>


					<div class="form-group">
						<label for="exampleFormControlSelect1">Incidence de
							l'anomalie</label> <select class="form-control"
							id="exampleFormControlSelect1" th:field="*{degre}"
							th:value="*{degre}">
							<option th:value="'Remarque'" th:text="'Très' + ' ' +'faible'"></option>
							<option th:value="'Faible'" th:text="Faible"></option>
							<option th:value="'Moyen'" th:text="Moyen"></option>
							<option th:value="'Elevée'" th:text="Elevé"></option>
							<option th:value="'Grave'" th:text="'Très' + ' ' + 'élevé'"></option>

						</select>
					</div>




					<div class="row  mr-1">
						<label for="text">Domaine</label> <input type="text"
							class="form-control" th:field="*{domaine}" th:value="*{domaine}">
					</div>

					<div class="row  mr-1">
						<label for="text">Organe affecté</label> <input type="text"
							class="form-control" th:field="*{objet}" th:value="*{objet}">
					</div>

					<div class="row  mr-1">
						<label for="text">Solution</label> <input type="text"
							class="form-control" th:field="*{solution}"
							th:value="*{solution}">
					</div>

					<div class="row  mr-1">
						<label for="text">Documents joints</label> <input type="text"
							class="form-control" th:field="*{document}"
							th:value="*{document}">
					</div>


					<div class="row  mr-1">
						<label for="text">Réponse BE</label> <input type="text"
							class="form-control" th:field="*{reponse}" th:value="*{reponse}">
					</div>
	
						<div class="form-group">
						<label for="exampleFormControlSelect1">Actif</label> <select
							class="form-control" id="exampleFormControlSelect1"
							th:field="*{statut}">
							<option th:value="1" th:text="'Active'"></option>
							<option th:value="0" th:text="'Inactive'"></option>
							
						</select>
					</div>

					<div class="bouton row">

						<div class="col">
							<div class="d-flex justify-content-end">
								<a class="btn mb-1 mr-1 bouton2"
									style="background-color: #7e60fb; color: white;"
									href="/espace" role="button">Annuler</a> <input
									type="submit" class="btn mb-1 ml-1 bouton2"
									style="background-color: #7e60fb; color: white;"
									value="Enregistrer">

							</div>
						</div>
					</div>
			</form>

			<!-- PIED DE PAGE -->

			<div th:replace="fragments/footer :: footer"></div>

			<!-- ********************************************* -->
		</div>

	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>
