<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" href="/css/styles.css">
<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
<title>Plannings</title>
</head>
<body>
	<div class="container">

		<!-- ENTETE -->


		<div th:replace="fragments/entete_post :: entete_post"></div>
		<!-- ---------------- -->


		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau21.jpg" alt=""
					th:src="@{/images/bandeau21.jpg}" />
			</div>
		</div>
		<!-- ----------------- -->
		<div class="row d-flex justify-content-center">

			<h1>Liste de toutes les notes</h1>

		</div>

		<span th:if=${vide}>
			<div class="row d-flex justify-content-center">

				<h2 style="color: red;">Il n'y a aucune note pour ce
					projet!</h2>
			</div>

		</span> <span th:unless=${vide}>
			<div class="row">

				<div class="col donnees" style="margin: 5px;">

					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">N°</th>
								<th scope="col" style="width: 10%">Date</th>
								<th scope="col" style="width: 20%">Auteur</th>
								<th scope="col" style="width: 50%">Texte</th>
								<th scope="col" style="width: 15%">Consulter</th>

							</tr>
						</thead>
						<tbody>
								<tr th:each="note, iStat: ${notes}">
							<th scope="row"><span th:text="${note.numero}"></span></th>
							<td th:text="${#temporals.format(note.date, 'dd-MM-yyyy')}" />
							<td th:text="${note.nomAuteur}" />
							<td th:text="${note.texte}" />
							<td><a th:href="@{/projet/note/voir/{idNote}/{idProjet}(idNote=${note.id}, idProjet=${projet.id})}"><p
										type="text" class="btn btn-block"
										style="background-color: #7e60fb; color: white">voir</p></a></td>
							</tr>

						</tbody>
					</table>


				</div>


			</div>

		</span>

		<div class="row mt-3">
			<div class="col d-flex justify-content-end">

				<div class="form-group mr-3">
					<a
						th:href="@{/projet/ajouter/notes/{projet}(projet=${projet.id})}"><p
							type="text" class="btn btn-block"
							style="background-color: #7e60fb; color: white">Ajouter</p></a>
				</div>
				<div class="form-group ">
					<a href="/espace"><p type="text" class="btn btn-block"
							style="background-color: #7e60fb; color: white">Retour</p></a>
				</div>
			</div>


		</div>

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->


	</div>
	<!-- fin conteneur -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>