<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
	<title>Plannings</title>
</head>

<body>
	<div class="container">

		<!-- ENTETE -->

		<div th:replace="fragments/entete_post :: entete_post"></div>
		<!-- ---------------- -->

		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau7.png" alt="" th:src="@{/images/bandeau7.png}" />
			</div>
		</div>
		<!-- ----------------- -->


		<span th:if=${active}>
			<div class="row d-flex justify-content-center">
				<h1 th:text="${'Liste des phases actives'}"></h1>
			</div>
		</span>

		<span th:unless=${active}>
			<div class="row d-flex justify-content-center">
				<h1 th:text="${'Liste des phases inactives'}"></h1>
			</div>
		</span>

		<span th:if=${vide}>
			<div class="row d-flex justify-content-center">
				<h2 th:text="${active} ? 'La liste des phases active est vide' : 'La liste des phases inactive est vide'"
					style="color: red;"></h2>
			</div>
		</span>

		<span th:unless=${vide}>
			<div class="row">

				<div class="col donnees" style="margin: 5px;">

					<table class="table table-striped">
						<thead>
							<tr>

								<th scope="col">Numéro</th>
								<th scope="col">Projet</th>
								<th scope="col">Nom</th>
								<th scope="col">Ressource</th>

								<th scope="col">Suspendue</th>
								<th scope="col">Conformité</th>
								<span th:if=${groupe1}>
									<th scope="col">Active</th>
								</span>
								<span th:if=${groupe1}>
									<th scope="col">Fiches</th>
								</span>
								<th scope="col">Voir</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="phase, iStat: ${phases}">

								<td th:text="${phase.numero}" />
								<td th:text="${phase.projet}" />
								<td th:text="${phase.nom}" />
								<td th:text="${phase.nomRessource}" />

								<td th:text="${phase.suspenduString}" />
								<td th:text="${phase.conformeString}" />

								<span th:unless=${groupe2}>
									<td th:text="${phase.actifString}" />
								</span>

								<span th:if=${groupe2}>
									<span th:if="${phase.actif}">
										<td><a
												th:href="@{/phase/changer/statut/liste/{phase}/{active}/{case}(phase=${phase.id}, active=${phase.actif}, case=${case})}">
												<p type="text" class="btn btn-block"
													style="background-color: #730800; color: white">Désactiver</p>
											</a>
										</td>
									</span>


									<span th:unless="${phase.actif}">
										<td><a
												th:href="@{/phase/changer/statut/liste/{phase}/{active}/{case}(phase=${phase.id}, active=${phase.actif}, case=${case})}">
												<p type="text" class="btn btn-block"
													style="background-color: #7e60fb; color: white">Activer</p>
											</a>
										</td>
									</span>
								</span>

								<span th:if=${groupe1}>
									<td><a th:href="@{/phase/fiches/ajouter/{id}(id=${phase.id})}">
											<p type="text" class="btn btn-block"
												style="background-color: #7e60fb; color: white">Ajouter</p>
										</a>
									</td>
								</span>

								<td><a th:href="@{/phase/voir/{id}(id=${phase.id})}">
										<p type="text" class="btn btn-block"
											style="background-color: #7e60fb; color: white">Voir</p>
									</a>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</span>

		<div class="row mt-3">
			<div class="col d-flex justify-content-end">
				
				<span th:unless=${active}>
						
						<a th:href="@{/phase/actives/liste/{active}(active=${true})}"><button type="button"
								class="btn mr-3" style="background-color: #7e60fb; color: white;">Phases en
								cours</button></a>
					
				</span>

				<span th:if=${active}>
					
						<a th:href="@{/phase/actives/liste/{active}(active=${false})}"><button type="button"
								class="btn mr-3" style="background-color: #730800; color: white;">Phases
								inactives</button></a>
					
				</span>


				<div class="form-group ">
					<a href="/espace">
						<p type="text" class="btn btn-block" style="background-color: #7e60fb; color: white">Retour</p>
					</a>
				</div>

			</div>


		</div>

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->


	</div>
	<!-- fin conteneur -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>