<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<head>
<!-- Required meta tags -->
<meta charset="utf-8"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" href="/css/styles.css">

<title>LabPlan</title>
<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
</head>
<body>
	<div class="container">


		<!-- Entete -->
			<span th:if="${authentification}">
			<div th:replace="fragments/entete_post :: entete_post"></div>
		</span>
		
		<span th:unless="${authentification}">
			<div th:replace="fragments/entete_init :: entete_init"></div>
		</span>
		<!-- ---------------- -->

		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau7.png" th:src="@{/images/bandeau6.png}" />
			</div>
		</div>

		<div class="row">

			<h1>Labplan: une application web pour faciliter la gestion de vos essais en laboratoire</h1>

			<div>
				<p>Après plusieurs années d'activité dans le test et contrôle de conformité de produits électroniques, j'ai eu besoin de me doter d'un outil 
				fiable et pratique. Aucune application sur le marché ne répondait précisement à mes besoins à un coût acceptable. Par conséquent, j'ai entrepris d'utiliser mes 
				compétances en programmation web pour développer ma propre application taillée sur mesure. </p>
					
					<p>	<strong>Principe de fonctionnement:</strong><br><br>
					    • L'application permet la gestion des quailfications de produits électroniques <br>
					    • Vous devez créer un compte utilisateur. <br>
					    • Une qualification se compose d'une suite d'essais. <br>
					    • Un essai est la réalisation d'une procédure de test. <br>
					    • Un test concerne plusieurs échantillons <br>
					    • Un test peut comprendre plusieurs séquences <br>
					    • Un échantillon peut intervenir dans plusieurs essais et plusieurs séquences. <br>
					    
										</p>
					
					<p>	<strong>Mise en oeuvre:</strong><br><br>
					    • Créer une qualification à partir du formulaire dédié  <br>
					    • Créer ou utiliser les essais déjà définis pour définir le contenu de la qualification. <br>
					    • Créer les échantillons de test à partir du formulaire associé. <br>
					    • Créer les séquences de test en associant les échantillons <br>
					    • Compléter les séquences de test avec les résultats observés au cours des essais <br>
					    • Vous pouvez modifier les éléments de la quaification à loisir <br>
					    
					    
										</p>
										
			</div>
		</div>

		<!-- footer -->

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->

		<!-- footer -->
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>