<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
	<title>Plannings</title>
</head>

<body>
	<div class="container">

		<!-- ENTETE -->


		<div th:replace="fragments/entete_post :: entete_post"></div>
		<!-- ---------------- -->


		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau19.jpg" alt="" th:src="@{/images/bandeau19.jpg}" />
			</div>
		</div>
		<!-- ----------------- -->
		<div class="row d-flex justify-content-center">

			<h1>Liste des ressources</h1>

		</div>


		<div class="row">

			<div class="col donnees" style="margin: 5px;">

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Nom</th>
							<th scope="col">Droit</th>
							<th scope="col">Type</th>

							<span th:if=${groupe2}>
								<th scope="col">Actif</th>
								<th scope="col">Affectations</th>
							</span>
							<th scope="col">Voir</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ressource, iStat: ${ressources}">
							<th scope="row"><span th:text="${iStat.count}"></span></th>
							<td th:text="${ressource.prenom +' '+ ressource.nom}" />
							<td th:text="${ressource.role}" />
							<td th:text="${ressource.type}" />

							<span th:if=${groupe2}>
								<span th:if="${ressource.enabled}">
									<td><a th:href="@{/ressources/liste/statut/{id}(id=${ressource.id})}">
											<p type="text" class="btn btn-block"
												style="background-color: #730800; color: white">Désactiver</p>
										</a>
									</td>
								</span>


								<span th:unless="${ressource.enabled}">
									<td><a th:href="@{/ressources/liste/statut/{id}(id=${ressource.id})}">
											<p type="text" class="btn btn-block"
												style="background-color: #7e60fb; color: white">Activer</p>
										</a>
									</td>
								</span>
								<td><a th:href="@{/ressources/affecter/projet/{id}(id=${ressource.id})}">
										<p type="text" class="btn btn-block"
											style="background-color: #7e60fb; color: white">Voir</p>
									</a>
								</td>

							</span>

							<td><a th:href="@{/ressources/voir/{id}/{masque}(id=${ressource.id}, masque=${false})}">
									<p type="text" class="btn btn-block"
										style="background-color: #7e60fb; color: white">Voir</p>
								</a>
							</td>



						</tr>

					</tbody>
				</table>


			</div>


		</div>

		<div class="row mt-3">
			<div class="col d-flex justify-content-center">
				<div class="form-group ">
					<a href="/espace">
						<p type="text" class="btn btn-block"
							style="background-color: #7e60fb; color: white; width: 350px;">Retour</p>
					</a>
				</div>
			</div>


		</div>

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->


	</div>
	<!-- fin conteneur -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>